<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getOne</title>
</head>
<body>
    <span th:text="${employees.employeeId}"></span><br>
    <span th:text="${employees.firstName}"></span><br>
    <span th:text="${employees.lastName}"></span><br>
    <span th:text="${employees.email}"></span><br>
    <span th:text="${employees.phoneNumber}"></span><br>
    <span th:text="${employees.hireDate}"></span><br>
    <span th:text="${employees.JobId}"></span><br>
    <span th:text="${employees.salary}"></span><br>
    <span th:text="${employees.commissionPct}"></span><br>
    <span th:text="${employees.managerId}"></span><br>
    <span th:text="${employees.departmentId}"></span><br>
</body>
</html>